# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
*.venv
venv.bak/
ENV/

# Flask file
instance/
.webassets-cache

# Databases
*.sqlite
*.db
db.sqlite3
*.sql

# Logs
logs/
*.log

# General
*.swp
*.swo
*.bak
*.tmp
*.pyc
.DS_Store

# IDE
.vscode/
*.idea/

# Other
*.pid
*.egg-info/
dist/
build/
*.egg
