{% extends "main_layout.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/beranda.css') }}">
{% endblock %}

{% block content %}
<h1>Beranda</h1>
<p class="judul">Analisis Sentimen Opini Public Terhadap Fenomena Resesi 2023 di Indonesia Menggunakan Algoritma
    Artificial Neural Network (ANN)</p>
<h3>Abstrak</h3>
<p class="penjelasan">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Cras dapibus, augue a placerat gravida, libero eros fermentum
    nunc, et tincidunt eros nulla eu nisi. Etiam elementum massa
    augue, ac porttitor ligula hendrerit et. Aenean ut est eget arcu
    fringilla efficitur. Orci varius natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus.</p>
<h3>Kesimpulan Hasil Penelitian</h3>
<p class="penjelasan">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Cras dapibus, augue a placerat gravida, libero eros fermentum
    nunc, et tincidunt eros nulla eu nisi. Etiam elementum massa
    augue, ac porttitor ligula hendrerit et. Aenean ut est eget arcu
    fringilla efficitur. Orci varius natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus.</p>
<h3>Cuplikan </h3>
<div class="img-container">
    <img src="{{ url_for('static', filename='images/Negatif_wordcloud.png') }}" alt="Negatif">
    <img src="{{ url_for('static', filename='images/Netral_wordcloud.png') }}" alt="Netral">
    <img src="{{ url_for('static', filename='images/Positif_wordcloud.png') }}" alt="Positif">
</div>
{% endblock %}