<!DOCTYPE html>
<html>
  <head>
    <title>Analisis Sentimen</title>

    {% block styles %}
    <!-- Tambahkan Bootstrap CSS jika belum ada -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="{{ url_for('static', filename='css/demo.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/layout.css') }}"
      rel="stylesheet"
    />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link
      href="{{ url_for('static', filename='css/paper-dashboard.css') }}"
      rel="stylesheet"
    />
    {% endblock %}
  </head>
  <body class="">
    <div class="wrapper">
      <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
          <a href="https://www.creative-tim.com" class="simple-text logo-mini">
            
            <!-- <p>CT</p> -->
          </a>
          <a
            href="https://www.creative-tim.com"
            class="simple-text logo-normal"
          >
            Creative Tim
            <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li class="active ">
              <a href="./dashboard.html">
                <p style="font-size: 16px; ">Dashboard</p>
              </a>
            </li>
            
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <!-- Navbar -->
        <nav
          class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent"
        >
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
              <a class="navbar-brand" href="javascript:;">Paper Dashboard 2</a>
            </div>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navigation"
              aria-controls="navigation-index"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-end"
              id="navigation"
            >
              
              
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
          <div class="row" >
            <div class="col-lg-3 col-md-6 col-sm-6" style="margin: auto; margin-bottom:30px">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-7 col-md-8">
                      <div class="numbers" style="width: 300px; ">
                        <p class="card-category">Positif</p>
                        <p class="card-title">{{ positif }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" style="margin: auto; margin-bottom:30px">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-7 col-md-8">
                      <div class="numbers" style="width: 300px; ">
                        <p class="card-category">Netral</p>
                        <p class="card-title">{{ netral }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" style="margin: auto; margin-bottom:30px" >
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-7 col-md-8" >
                      <div class="numbers" style="width: 300px; ">
                        <p class="card-category">Negatif</p>
                        <p class="card-title">{{ negatif }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="content">{% block content %}{% endblock %}</div>
              </div>
            </div>
          </div>
          
        </div>
        <footer class="footer footer-black footer-white">
          <div class="container-fluid">
            <div class="row">
              <nav class="footer-nav">
                <ul>
                  <li>
                    <a href="https://www.creative-tim.com" target="_blank"
                      >Creative Tim</a
                    >
                  </li>
                  <li>
                    <a href="https://www.creative-tim.com/blog" target="_blank"
                      >Blog</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.creative-tim.com/license"
                      target="_blank"
                      >Licenses</a
                    >
                  </li>
                </ul>
              </nav>
              <div class="credits ml-auto">
                <span class="copyright">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with <i class="fa fa-heart heart"></i> by Creative Tim
                </span>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="../assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script
      src="../assets/js/paper-dashboard.min.js?v=2.0.1"
      type="text/javascript"
    ></script>
    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="../assets/demo/demo.js"></script>
    <script>
      $(document).ready(function () {
        // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
        demo.initChartsPages();
      });
        // Mencari kata saat pengguna mengetik
      var searchInput = document.getElementById("searchInput");
      var timeout = null;

      searchInput.addEventListener("input", function () {
        clearTimeout(timeout);
        timeout = setTimeout(function () {
          var query = searchInput.value;
          var rows = document.querySelectorAll("tbody tr");

          for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            var label = row.querySelector("td:nth-child(1)").textContent.toLowerCase();

            if (query !== "" && label.indexOf(query.toLowerCase()) === -1) {
              row.style.display = "none";
            } else {
              row.style.display = ""; // Menampilkan baris yang cocok
            }
          }
        }, 300);
      });
    </script>
  </body>
</html>
