{% extends "main_layout.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sentimen2.css') }}">
{% endblock %}

{% block content %}
<h1>Analisis Per Kalimat</h1>
<p class="judul">Analisis Sentimen Opini Public Terhadap Fenomena Resesi 2023 di Indonesia Menggunakan Algoritma Artificial Neural Network (ANN)</p>

<form action="/sentimen2" method="POST">
    <input type="text" name="query" id="searchInput" class="search" placeholder="Masukkan kalimat" required>

</form>

{% if prediction %}
    <p>Predicted Sentiment: {{ prediction }}</p>
{% endif %}


{% endblock %}
