{% extends "main_layout.html" %} 
{% block styles %} 
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sentimen.css') }}">
  <!-- Tambahkan Bootstrap CSS jika belum ada -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %} 

{% block content %}
  <h1>Sentimen dan Persentase</h1>
  <p class="judul">
    Analisis Sentimen Opini Public Terhadap Fenomena Resesi 2023 di Indonesia
  </p>

  <form action="/search" method="GET">
    <div class="input-group mb-3">
      <input type="text" name="query" id="searchInput" class="form-control" placeholder="Masukkan kata kunci" required style="border: 1px solid grey;">
    </div>
  </form>

  {% if search_results %}
    <table class="table mt-4">
      <thead>
        <tr>
          <th>Teks</th>
          <th>Sentimen</th>
        </tr>
      </thead>
      <tbody>
        {% for result in search_results %}
          <tr>
            <td>{{ result.Teks }}</td>
            <td>{{ result.Label }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <table class="table">
      <thead>
        <tr>
          <th>Teks</th>
          <th>Sentimen</th>
        </tr>
      </thead>
    </table>
  {% endif %}
</div>

<script>
  // Mencari kata saat pengguna mengetik
  var searchInput = document.getElementById("searchInput");
  var timeout = null;

  searchInput.addEventListener("input", function () {
    clearTimeout(timeout);
    timeout = setTimeout(function () {
      var query = searchInput.value;
      var rows = document.querySelectorAll("tbody tr");

      for (var i = 0; i < rows.length; i++) {
        var row = rows[i];
        var label = row.querySelector("td:nth-child(1)").textContent.toLowerCase();

        if (query !== "" && label.indexOf(query.toLowerCase()) === -1) {
          row.style.display = "none";
        } else {
          row.style.display = ""; // Menampilkan baris yang cocok
        }
      }
    }, 300);
  });
</script>
{% endblock %}
