{% extends "main_layout.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sentimen.css') }}">
{% endblock %}

{% block content %}
<h1>Sentimen dan Persentase</h1>
<p class="judul">Analisis Sentimen Opini Public Terhadap Fenomena Resesi 2023 di Indonesia Menggunakan Algoritma Artificial Neural Network (ANN)</p>
<h3>Informasi</h3>
<p class="penjelasan">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus, augue a placerat gravida, libero eros fermentum nunc, et tincidunt eros nulla eu nisi. Etiam elementum massa augue, ac porttitor ligula hendrerit et. Aenean ut est eget arcu fringilla efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

<form action="/search" method="GET">
    <input type="text" name="query" id="searchInput" class="search" placeholder="Masukkan kata kunci" required>
</form>

{% if search_results %}
<table class="table">
    <thead>
        <tr>
            <th>Teks</th>
            <th>Sentimen</th>
        </tr>
    </thead>
    <tbody>
        {% for result in search_results %}
        <tr>
            <td>{{ result.Teks }}</td>
            <td>{{ result.Label }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<table class="table">
    <thead>
        <tr>
            <th>Teks</th>
            <th>Sentimen</th>
        </tr>
    </thead>
</table>
{% endif %}

<script>
    // Mencari kata saat pengguna mengetik
    var searchInput = document.getElementById('searchInput');
    var timeout = null;

    searchInput.addEventListener('input', function () {
        clearTimeout(timeout);
        timeout = setTimeout(function () {
            var query = searchInput.value;
            var rows = document.querySelectorAll('tbody tr');

            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                var label = row.querySelector('td:nth-child(1)').textContent.toLowerCase();

                if (query !== '' && label.indexOf(query.toLowerCase()) === -1) {
                    row.style.display = 'none';
                } else {
                    row.style.display = ''; // Menampilkan baris yang cocok
                }
            }
        }, 300);
    });
</script>
{% endblock %}
